@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%; /* 62.5% de 16px = 10px */
}
body{
    font-size: 1.6rem; /* Agora 1rem = 10px */
    font-family: "Open Sans", serif;
    font-weight: 400;
}
header{
    background: radial-gradient(#fff, #ffd6d6);
}
.container{
    max-width: 1300px;
    width: 100%;
    margin: auto;
    padding: 0 25px;
}
.logo img{
    width: 125px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;    
}
nav {
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    text-transform: capitalize;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
header .row{
    margin-top: 70px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 5rem;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background-color: #ff523b;
    color: #fff;
    font-weight: bold;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition:  background .5s;
}
.btn:hover{
    background: #563434;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding: 0 25px;
}
.col-4{
    flex-basis: 25%;
    min-width: 200px;
    padding: 10px;
    margin-bottom: 50px;
    transition: .5s;
    cursor: pointer;
}
.col-4 img{
    width: 100%;
}
.title{
    font-family: "Poppins", serif;
    font-weight: 600;
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 1.4rem;
}
.rating i{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-5px);
    
}
.offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;    
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}